.main-text
{
    position: absolute;
    top: 80px;
    width: 96.66666666666666%;
    color: black;
	font-family: "Times New Roman", Times, serif;
	font-size: 180%;
}
h1{
	font-weight: bold;
}

 img{
	 opacity:0.2;
	 width:100%
 }

